/* GENERAL STYLES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(170, 99, 33);
    color: white;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    color: white;
    text-decoration: none;
    position: right;
}
